

<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card>

      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input label="Floating label" labelPlacement="floating" placeholder="Enter text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Password input" type="password" value="password"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
